Repository kpranav/wire-management-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: backend-lint
        name: Backend Lint
        entry: make backend-lint
        language: system
        pass_filenames: false
        files: ^backend/
      - id: frontend-lint
        name: Frontend Lint
        entry: make frontend-lint
        language: system
        pass_filenames: false
        files: ^frontend/

Fix authentication flow and frontend issues
  PROJECT_SUMMARY.md
  backend/Dockerfile
  backend/alembic/versions/9668182126fe_initial_migration_create_users_and_.py
  backend/app/routers/auth.py
  backend/app/services/auth_service.py
  backend/app/utils/security.py
  backend/requirements-dev.txt
  backend/requirements.txt
  docs/MULTI_DEVELOPER_WORKFLOW.md
  docs/QUICKSTART.md
  frontend/package-lock.json
  frontend/src/components/Login.tsx
  frontend/src/components/WireDetail.tsx
  frontend/src/components/WireList.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/tests/Login.test.tsx
Due: backend-lint, frontend-lint

Test CI/CD pipeline
  README.md
Due: none

Fix GitHub Actions workflow: remove secrets from environment.url
  .github/workflows/ci-cd.yml
Due: none

Fix all linting errors and add local development tooling
  CICD_SETUP_CHECKLIST.md
  LOCAL_DEVELOPMENT.md
  backend/alembic/env.py
  backend/app/config.py
  backend/app/database.py
  backend/app/main.py
  backend/app/middleware/error_handler.py
  backend/app/models/user.py
  backend/app/models/wire.py
  backend/app/routers/__init__.py
  backend/app/routers/auth.py
  backend/app/routers/websocket.py
  backend/app/routers/wires.py
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/app/schemas/wire.py
  backend/app/services/auth_service.py
  backend/app/services/background_tasks.py
  backend/app/services/cache_service.py
  backend/app/services/wire_service.py
  backend/app/utils/redis_client.py
  backend/app/utils/security.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_cache.py
  backend/tests/test_wires.py
  frontend/Makefile
  frontend/src/hooks/useAuth.ts
  frontend/src/tests/Login.test.tsx
Due: backend-lint, frontend-lint

Apply Black formatting to all Python files
  backend/alembic/env.py
  backend/app/config.py
  backend/app/database.py
  backend/app/main.py
  backend/app/middleware/error_handler.py
  backend/app/models/__init__.py
  backend/app/models/user.py
  backend/app/models/wire.py
  backend/app/routers/__init__.py
  backend/app/routers/auth.py
  backend/app/routers/websocket.py
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/app/schemas/wire.py
  backend/app/services/background_tasks.py
  backend/app/services/cache_service.py
  backend/app/services/wire_service.py
  backend/app/utils/security.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_cache.py
  backend/tests/test_websocket.py
  backend/tests/test_wires.py
Due: backend-lint

Update local development guide to emphasize formatting
  LOCAL_DEVELOPMENT.md
Due: none

Add package-lock.json for reproducible builds
  frontend/package-lock.json
Due: frontend-lint

Fix missing dependencies in requirements.txt
  backend/requirements.txt
Due: backend-lint

Apply Prettier formatting to frontend files
  frontend/src/App.tsx
  frontend/src/components/WireList.tsx
  frontend/src/services/websocket.ts
Due: frontend-lint

Fix CI/CD test failures and improve tooling
  .github/workflows/ci-cd.yml
  backend/requirements-dev.txt
  frontend/Makefile
Due: backend-lint, frontend-lint

Fix AsyncClient and test infrastructure for CI/CD
  backend/tests/conftest.py
  frontend/package-lock.json
Due: backend-lint, frontend-lint

Fix Black formatting and add Vitest coverage dependency
  backend/tests/conftest.py
  frontend/package-lock.json
  frontend/package.json
Due: backend-lint, frontend-lint

Fix all failing backend tests for CI/CD pipeline
  backend/tests/test_auth.py
  backend/tests/test_cache.py
  backend/tests/test_websocket.py
  backend/tests/test_wires.py
Due: backend-lint

Improve Docker build process in CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

Automate Docker Compose file deployment via GitHub Actions
  .github/workflows/ci-cd.yml
  CICD_SETUP_CHECKLIST.md
Due: none

Fix Docker Compose command syntax for EC2
  .github/workflows/ci-cd.yml
Due: none

Fix Docker Compose files to use pre-built images
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.qa.yml
  docker-compose.uat.yml
Due: none

Implement environment-based CORS configuration
  backend/app/config.py
  backend/app/main.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.qa.yml
  docker-compose.uat.yml
Due: backend-lint

Use GitHub Secret for EC2_HOST in CORS configuration
  .github/workflows/ci-cd.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.qa.yml
  docker-compose.uat.yml
Due: none

Fix Ruff linting error: remove trailing whitespace
  backend/app/config.py
Due: backend-lint

Security: Remove sensitive data from public repository
  .github/workflows/ci-cd.yml
  CICD_SETUP_CHECKLIST.md
  backend/.env.example
  docker-compose.dev.yml
  docker-compose.qa.yml
  docs/DEPLOYMENT.md
  docs/EC2_SETUP.md
Due: backend-lint
